<div class="container p-5" *ngIf="results">
  <h1 class="text-center mb-5">
    Your Watchlist
  </h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Overview</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of results"  (click)="gotoMoviePage(entry.id)" class="pointer">
        <th scope="row"> <img src="{{'https://www.themoviedb.org/t/p/w300_and_h450_bestv2/' + entry.poster_path}} " width=120>
          <br>{{entry.title}} ({{entry.release_date.substring(0,4)}})</th>
        <td>{{entry.overview}} </td>
      </tr>
    </tbody>
  </table>
</div>

<app-loading-page *ngIf="results==null" ></app-loading-page>
