

<div class="container">
  <h1 class="title">We are the GITGUD Team!</h1>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="/assets/img/gianmarco.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gianmarco Addari</h5>
          <h6>Dotnet Specialist </h6>
          <p class="card-text">Best Team Leader in Town!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="assets/img/gianfranco.jpg" class="card-img-center" alt="...">
        <div class="card-body">
          <h5 class="card-title">Giafranco Manca</h5>
          <h6>Springboot Specialist</h6>
          <p class="card-text">The superhero of encrypting data</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="assets/img/mirko.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mirko Mameli</h5>
          <h6>Laravel Specialist</h6>
          <p class="card-text">I always dreamed about putting a photo like this one.</p>
        </div>
      </div>
    </div>
  </div>
</div>



