<div class="col-md-4 offset-md-3">
 <form (ngSubmit)="onSubmit()">
  <label *ngIf="emailValid==false"><small style="color: red;">{{message}}</small></label>
  <div class="form-group" style="align-items: center;">
    <tr>
      <h1>Control Panel</h1>
    </tr>
  </div>
  <tr>
  <th>
   <div class="form-group" style="align-items: center;">
    <label>First Name</label>
    <input type="text" class="form-control" id="firstName"
           [(ngModel)]="user.firstName" name="firstName" required>
   </div>
   </th>
   <th>
   <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" id="lastName"
           [(ngModel)]="user.lastName" name="lastName" required>
   </div>
  </th>
  <th>
    <div class="form-group">
     <label>email</label>
     <input type="email" class="form-control" id="email"
            [(ngModel)]="user.email" name="email" required>
    </div>
    </th>
  </tr>
  <tr>
  <th>
   <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" id="username"
           [(ngModel)]="user.username" name="username" required>
   </div>
   </th>
   <th>
   <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" id="password"
           [(ngModel)]="user.password" name="password" required>
   </div>
   </th>
   <th>
    <div class="form-group" style="width:18vmax;">
     <label>
      personal control panel
      </label>
      <label>
      {{user.firstName}} {{user.lastName}}
      </label>
    </div>
    </th>
   <th>
    </th>
    </tr>
    <tr>
      <th>
        <div>
          <button *ngIf="checkForm()" type="submit" id="update">
            Update
          </button>
          </div>
      </th>
      <th>
        <div>
          <button  type="button" (click)="logOut()" formnovalidate>Log out</button>
          <button  type="button" (click)="goBack()" formnovalidate>Back</button>
        </div>
      </th>
      <th>
        <div>
          <button type="button" (click)="unsuscribe()"  id="unsus" formnovalidate>
            <small>Unsubscribe</small>
          </button>
        </div>
    </tr>
</form>
</div>
<div>
  <label *ngIf="updatefail==true"><small style="color: red;" id="labelmessage">{{fail}}</small></label>
  <label *ngIf="updatesuccess==true"><small style="color: rgb(17, 148, 209);" id="labelmessage">{{success}}</small></label>
</div>





