
div {
  margin-right: 15px;
}

tr {
  align-content: center;
  padding: 1%;
  vertical-align: 10px;
}

/*etichetta credenziali*/
label {
  font-size: 18px;
  font-family: "DK Lemon Yellow Sun";
  width: 100%;
  margin-left: 0%;
  text-align: center;
  padding-top: 1%;
}

/*titolo*/
h1 {
  text-align: center;
  font-family: "DK Lemon Yellow Sun";
  width: 100%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 1%;
}

button {
  align-self: center;
  padding-left: 10px;
  float: right;
  width: 90px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "DK Lemon Yellow Sun";
  border-radius: 5px;
  box-sizing: content-box;
  background-color: rgba(240, 197, 116, 0.4);
}

/*form username + psw + bottoni*/
.form-group {
  width: max-content;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 45px;
  background-color: rgb(159, 199, 205, 0.4);
  border-radius: 5px;
  border-style: solid;
  border-color:  rgb(159, 199, 205, 0.7);
  }



/*solo per il button unsuscribe*/
#unsus {
  float: right;
  width: 90px;
  margin-left: 5%;
  font-family: "DK Lemon Yellow Sun";
  border-radius: 5px;
  box-sizing: content-box;
  background-color: rgb(204, 41, 41);
}

#update {
  float: right;
  width: 100px;
  margin-right: 125px;
  font-family: "DK Lemon Yellow Sun";
  border-radius: 5px;
  box-sizing: content-box;
  background-color: rgb(95, 156, 248);
}

#labelmessage {
  font-size: 18px;
  font-family: "DK Lemon Yellow Sun";
  width: 100px;
  margin-left: 0%;
}

