<div class="col-md-4 offset-md-3">
  <h1>Sign Up</h1>
<form (ngSubmit)="onSubmit()">
  <label *ngIf="emailValid==false"><small style="color: red;">{{message}}</small></label>
  <tr style="text-align: center; align-tracks: center;">
  <th>
   <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" id="firstName"
           [(ngModel)]="user.firstName" name="firstName" required>
   </div>
   </th>
   <th>
   <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" id="lastName"
           [(ngModel)]="user.lastName" name="lastName" required>
   </div>
  </th>
  </tr>
  <tr>
  <th>
   <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" id="username"
           [(ngModel)]="user.username" name="username" required>
   </div>
   </th>
   <th>
   <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" id="password"
           [(ngModel)]="user.password" name="password" required>
   </div>
   </th>
   <th>
   <div class="form-group">
    <label>email</label>
    <input type="email" class="form-control" id="email"
           [(ngModel)]="user.email" name="email" required>
   </div>
   </th>
   </tr>
   <tr>
   <th><button  type="reset" formnovalidate>Reset</button></th>
   <th><button *ngIf="checkForm()" type="submit" formnovalidate>Send</button></th>
   <th><button  type="button" (click)="goBack()" formnovalidate>Back</button></th>
   </tr>
</form>
</div>

