<header>
    <div class="bg-dark">
      <div class="container">
        <div id ="logo">
          TheNet
          <i class="fas fa-fish"></i>
        </div>
        <div>
          <ul id="menuDX" class="nav col-lg-auto my-2 my-md-0 justify-content-end">
            <li>
              <a [routerLink]='["/welcome"]' class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                Home
              </a>
            </li>
            <li>
              <a [routerLink]='["/pick-location"]' class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                Find Movies
              </a>
            </li>
            <li>
              <a [routerLink]='["/watchlist"]' class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                Watchlist
              </a>
            </li>
            <li *ngIf="logged==false" >
            <a [routerLink]="['/login']" class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
              <i class="openButton fas fa-user fa-1.5x bi d-block mx-auto mb-1" width="24" height="24"></i>
            </a>
            </li>
            <li *ngIf="logged == true">
              <a [routerLink]='["/handle-logged-user"]' class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                {{user.username}}
              </a>
            </li>
            <!--li>
              <a [routerLink]="['/filterByGenre']" class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                <i class="fas fa-filter fa-1.5x bi d-block mx-auto mb-1" width="24" height="24"></i>
              </a>
            </li!-->
          </ul>
        </div>
      </div>
    </div>
  </header>
