<div *ngIf="results != null " class="container">

  <div class="row p-4 my-2 mx-1 border shadow">
      <button class="btn btn-primary mr-5"[routerLink]="['/watchlist']">Back</button>
      <h3>{{results.title}} ({{results.release_date.substring(0,4)}})</h3>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <td rowspan="4" width="70px"> <img src="{{'https://www.themoviedb.org/t/p/w300_and_h450_bestv2/' + results.poster_path}} " width=120></td>
        <th>Genres:</th>
        <td>{{ genres }}</td>
      </tr>
      <tr>
        <th>Release Date: </th>
        <td>{{results.release_date}}</td>
      </tr>
      <tr>
        <th>Your Rating: </th>
        <td><app-star-rating [movie_id]="movie_id"></app-star-rating></td>
      </tr>
      <tr>
        <th>Average Rating: </th>
        <td><app-star-rating [movie_id]="movie_id"></app-star-rating></td>
      </tr>
      <tr>
        <th>Overview:</th><td colspan="3"> {{results.overview}}</td>
      </tr>
      <ng-container *ngIf="comments != null">
        <tr *ngFor="let comment of comments">
          <td colspan="3">Comment by user {{comment.userId}}:<br>{{comment.body}}</td>
        </tr>
      </ng-container>
      <tr>
        <td colspan="3">
          <div class="container">
            <form class="" (ngSubmit)="onSubmit(form)" #form="ngForm">
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Leave a comment:</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="newComment" required ngModel name="newComment"></textarea>
                </div>

                <button type="submit" [disabled]="!form.valid" class="btn btn-success">Submit</button>
              </div>
            </form>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br><br><br>
</div>
